<meta charset="UTF-8" />
<title>ClickDigital Diseños Web</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="ClickDigital Diseños Web" />
<meta name="keywords" content="agency, application, business, clean, creative, cryptocurrency, it solutions, modern, multipurpose, nft marketplace, portfolio, saas, software, tailwind css" />
<meta name="author" content="ClickDigital" />
<meta name="website" content="https://ClickDigital.com.ar" />
<meta name="email" content="info@ClickDigital.com.ar"" />
<meta name="version" content="1.8.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico" />